/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 3.5rem;
  background-color: #f0f0f2 !important;
  font-size: 14px !important;
  background-size: cover;
}
.navbar{
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 1px 1px rgba(0,0,0,.28);
    background: #fff;
}
.navbar-nav > .nav-item{
    padding: 0px 5px;
}
.navbar-brand{
    min-width: 200px;
}
.ad-sidebar{
    right: 0 !important;
    left: auto !important;
    background: #fff;
    max-width: 300px !important;
    padding: 0px !important;
}
.component-title{
    padding: 0px !important;
    font-size: 24px;
    color: #000;
    font-weight: 600;
    margin-right: 15px;
    line-height: 30px;
}
.fixed-top{
    z-index: 99999 !important;
}